.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    margin-top: -1.5rem;
}

.contentGame{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

@media(max-width: 820px){
    .contentGame{
        display: inline;
    }
}

.life{
    display: flex;
    flex-direction: row;
}

.contentCoin{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textCoin{
    font-family: 'Bungee','Cabin', sans-serif;
    font-size: 2rem;
    color: #FF9400;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 80vh;
    gap: 2.5rem;
    margin-top: -1.5rem;
}

.containerAsk{
    width: 45%;
    height: 95%;
    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    padding: 1rem;

}

.containerAnswTip{
    width: 45%;
    height: 95%;
    background-color: #FFFFFF;
}

.btnNext{
    position: fixed;
    right: 5rem;
    bottom: 5rem;
}

.textTimeAndTip{
    font-family: 'Bungee','Cabin', sans-serif;
    font-size: 1.5rem;
    color: #FCC123;
}